<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
   <div th:insert="menu :: head"></div> 
   
   <body>
       
      <div th:insert="menu :: navbar"></div> 
   
   <div class ="col-lg-10 offset-lg-1">  
      <table class="table">
	    <thead>
	        <tr>
	            <th scope="col"> Date </th>
	            <th scope="col"> Montant </th>
	            <th scope="col"> Type </th>
	            <th scope="col"> Code </th>
	            <th scope="col"> Utilisateur </th>
	            <th scope="col"> Catégorie </th>
	            <th scope="col"> Sous catégorie </th>
	            <th scope="col"> Solde </th>
	        </tr>
	    </thead>
	    <tbody>
	    <tr th:if="${accounts.empty}">
	            <td colspan="2"> Pas de compte importé </td>
	        </tr>
	        <tr th:each="account : ${accounts}">
	            <td><span th:text="${#dates.format(account.date,'dd MMMM yyyy')}"> Date </span></td>
	            <td><span th:text="${account.amount}"> Montant </span></td>
	            <td><span th:text="${account.type}"> Type </span></td>
	            <td><span th:text="${account.code}"> Code </span></td>
	            <td><span th:text="${account.user}"> Utilisateur </span></td>
	            <td><span th:text="${account.category}"> Catégorie </span></td>
	            <td><span th:text="${account.subCategory}"> Sous catégorie </span></td>
	            <td><span th:text="${account.balance}"> Solde </span></td>
	        </tr>
	    </tbody>
	</table>
    </div>  
   </body>
</html>