<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
      <meta charset = "UTF-8" />
      <title>Spring Boot Application</title>
      <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
	  <script type="text/javascript" th:src="@{/webjars/jquery/3.4.0/jquery.min.js/}"></script>
      <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	  <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
   	</head>

   <body>

		<div th:fragment="navbar">
		  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			  <ul class="navbar-nav">
			    <li class="nav-item active">
			      <a class="nav-link" th:href="@{/index}">Active</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" th:href="@{/all}">Récap</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" th:href="@{/uploadOneFile}">Import</a>
			    </li>
			    <li class="nav-item">
			      <a class="nav-link" th:href="@{/category}">Catégorie</a>
			    </li>
			  </ul>
			</nav>
		</div>
		
	

  </body>
</html>